<script type="text/javascript">
// First, parse the query string
var params = {}, queryString = location.hash.substring(1),
    regex = /([^&=]+)=([^&]*)/g, m;
while (m = regex.exec(queryString)) {
  params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
}
// And send the token over to the server
var req = new XMLHttpRequest();
// consider using POST so query isn't logged
//req.open('GET', 'https://' + window.location.host + '/catchtoken?' + queryString, true);
req.open('POST', 'https://' + window.location.host + '/support_site/normal/imgur_callback?' + queryString, true);
req.onreadystatechange = function (e) {
  if (req.readyState == 4) {
    if(req.status == 200) {
      var response = req.responseText;
      alert(response);
      //window.location = params['state']
    } else {
      alert('Error!!')
    } 
    window.close();
  }
};

//alert('토큰을 저장하였습니다.');
//window.close();
req.send(null);
</script>
