{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('daum', 'Daum', true) }}
    {{ macros.m_tab_head('wavve', '웨이브', false) }}
    {{ macros.m_tab_head('tving', '티빙', false) }}
    {{ macros.m_tab_head('watcha', '왓챠', false) }}
    {{ macros.m_tab_head('naver', '네이버 API', false) }}
    {{ macros.m_tab_head('imgur', 'imgur', false) }}
    {{ macros.m_tab_head('naver_login', '네이버 로그인 API', false) }}
    {{ macros.m_tab_head('common', '일반', false) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
{{ macros.m_tab_content_start('daum', true) }}
  {{ macros.setting_input_text('site_daum_cookie', 'Cookie', value=arg['site_daum_cookie'],  desc=['세미 콜론(;)으로 구분된 key=value; 형식의 쿠키를 입력하세요.', '_T_ANO=xxxxx', '_T_ANO=xxxxx; _EXAMPLE_COOKIE=COOKIE_VALUE;']) }}
  {{ macros.setting_checkbox('site_daum_use_proxy', 'Proxy 사용', value=arg['site_daum_use_proxy'], desc=None) }}
  <div id="site_daum_use_proxy_div" class="collapse">
  {{ macros.setting_input_text('site_daum_proxy_url', 'Proxy URL', value=arg['site_daum_proxy_url']) }}
  </div>
  {{ macros.setting_checkbox('site_daum_use_cache', 'Cache 사용', value=arg['site_daum_use_cache'], desc=None) }}
  <div id="site_daum_use_cache_div" class="collapse">
  {{ macros.setting_input_int('site_daum_cache_expiry', 'Cache 수명', desc=['단위: 초'], value=arg['site_daum_cache_expiry']) }}
  </div>
  {{ macros.setting_input_textarea('site_daum_headers', 'HTTP 헤더', value=arg['site_daum_headers'], row='6', desc=['지정하지 않으면 일반 탭의 기본 HTTP 헤더를 사용', '형식: JSON']) }}
  <!--
  {{ macros.m_hr() }}
  {{ macros.setting_input_text_and_buttons('site_daum_test', 'Test', [['site_daum_test_btn', 'Test']], value=arg['site_daum_test'],  desc=['영화 or 방송제목']) }}
  -->
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('wavve', false) }}
  {{ macros.setting_input_textarea_and_buttons('site_wavve_credentials', 'Credentials', [['site_wavve_login_btn', 'Credential 갱신']], value=arg['site_wavve_credentials'], desc=["Credential을 포함하는 Wavve 계정 정보들", "형식: JSON", "{", '"첫째":{"id":"아이디","password":"패스워드","profile":"0"},', '"둘째":{"id":"아이디","password":"패스워드","profile":"1","proxy":"프록시를 사용할 경우 입력","download_proxy":"다운로드 용 프록시"},', '"셋째":{"id":"아이디","password":"패스워드","profile":"2","credential":"갱신시 자동 입력 혹은 직접 입력"},', '"넷째":{"id":"아이디","password":"패스워드","profile":"1","device_id":"갱신시 자동 입력, 초기화시 제거"}', "}", "HTTP 요청 에러가 적은 계정 정보를 우선 사용"], col='9', row='15', disabled=False) }}
  {{ macros.setting_checkbox('site_wavve_use_cache', 'Cache 사용', value=arg['site_wavve_use_cache'], desc=None) }}
  <div id="site_wavve_use_cache_div" class="collapse">
  {{ macros.setting_input_int('site_wavve_cache_expiry', 'Cache 수명', desc=['단위: 초'], value=arg['site_wavve_cache_expiry']) }}
  </div>
  {{ macros.setting_input_textarea('site_wavve_patterns_title', '제목 정규식', value=arg['site_wavve_patterns_title'], row='6', desc=['파일명으로 사용할 제목을 수정하기 위한 정규식', '한 줄당 하나의 정규식을 입력하며 첫번째로 매칭되는 title 그룹의 문자열을 사용', '기본값: ^(?P<title>.*)$', '예시: ^(?P<title>1박2일) 시즌.*$']) }}
  {{ macros.setting_input_textarea('site_wavve_patterns_season', '시즌 번호 정규식', value=arg['site_wavve_patterns_season'], row='6', desc=['파일명으로 사용할 시즌 번호를 수정하기 위한 정규식', '한 줄당 하나의 정규식을 입력하며 첫번째로 매칭되는 season 그룹의 문자열을 시즌 번호로 판단', '시즌번호는 0보다 크고 최대 5자리까지만 인정', '예시: 시즌\s?(?P<season>\d+)', '']) }}
  {{ macros.setting_input_textarea('site_wavve_patterns_episode', '회차 번호 정규식', value=arg['site_wavve_patterns_episode'], row='6', desc=['파일명으로 사용할 회차 번호를 수정하기 위한 정규식', '한 줄당 하나의 정규식을 입력하며 첫번째로 매칭되는 episode 그룹의 문자열을 회차 번호로 판단', '회차번호는 0보다 크고 최대 5자리까지만 인정', '기본값: ^(?!.*(티저|예고|특집)).*?(?P<episode>\d+)$', '']) }}
  {{ macros.setting_checkbox('site_wavve_filename_contentid', '파일 이름에 ID 추가', value=arg['site_wavve_filename_contentid'], desc=('파일명에 content_id를 추가', 'KBS NEWS 24.260131.360p.K01_NEWS-8474087.1-SW.mp4')) }}
  {{ macros.setting_input_textarea('site_wavve_headers', 'HTTP 헤더', value=arg['site_wavve_headers'], row='6', desc=['지정하지 않으면 일반 탭의 기본 HTTP 헤더를 사용', '형식: JSON']) }}
  {{ macros.setting_input_int('site_wavve_credential_ttl', 'Credential 유효 시간', desc=['크리덴셜 만료 판단 기준 시간', '설정 시간 경과 시 자동 갱신 시도', '단위: 초, 최소값: 300'], value=arg['site_wavve_credential_ttl'], min=300) }}
  {{ macros.setting_input_int('site_wavve_credential_cooldown', 'Credential 갱신 유예 시간', desc=['로그인 실패 시 잦은 재시도를 방지하기 위한 최소 대기 시간', '단위: 초, 최소값: 300'], value=arg['site_wavve_credential_cooldown'], min=300) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('tving', false) }}
  {{ macros.setting_radio_with_value('site_tving_login_type', '로그인 타입', [['cjone', 'CJONE'], ['tving', 'TVING']], value=arg['site_tving_login_type']) }}
  {{ macros.setting_input_text('site_tving_id', 'ID', value=arg['site_tving_id'], col='3') }}
  {{ macros.setting_input_text_and_buttons('site_tving_pw', '암호', [['site_tving_login_btn', '토큰 가져오기']], value=arg['site_tving_pw'], col='6') }}
  {{ macros.setting_input_text_and_buttons('site_tving_token', '토큰', [['site_tving_deviceid_btn', 'DeviceID 목록 가져오기']], value=arg['site_tving_token'], col='8', desc=['계정 정보대신 이 값을 사용합니다.', '이 값을 수동으로 넣는 경우 계정정보를 입력할 필요가 없습니다.', '_tving_token=XXXXXX 형식']) }}
  {{ macros.setting_input_text('site_tving_deviceid', 'Device ID', value=arg['site_tving_deviceid'], col='3', desc=['model이 PC인 항목의 uuid 값 입력']) }}
  {{ macros.setting_checkbox('site_tving_use_proxy', 'Proxy 사용', value=arg['site_tving_use_proxy'], desc=None) }}
  <div id="site_tving_use_proxy_div" class="collapse">
    {{ macros.setting_input_text('site_tving_proxy_url', 'Proxy URL', value=arg['site_tving_proxy_url'], desc=None) }}
  </div>
  {{ macros.setting_checkbox('site_tving_use_cache', 'Cache 사용', value=arg['site_tving_use_cache'], desc=None) }}
  <div id="site_tving_use_cache_div" class="collapse">
  {{ macros.setting_input_int('site_tving_cache_expiry', 'Cache 수명', desc=['단위: 초'], value=arg['site_tving_cache_expiry']) }}
  </div>
  {{ macros.setting_input_textarea('site_tving_headers', 'HTTP 헤더', value=arg['site_tving_headers'], row='6', desc=['지정하지 않으면 일반 탭의 기본 HTTP 헤더를 사용', '형식: JSON']) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('watcha', false) }}
  {{ macros.setting_input_text('site_watcha_cookie', 'Cookie', value=arg['site_watcha_cookie'],  desc=['세미 콜론(;)으로 구분된 key=value; 형식의 쿠키를 입력하세요.']) }}
  {{ macros.setting_checkbox('site_watcha_use_proxy', 'Proxy 사용', value=arg['site_watcha_use_proxy'], desc=None) }}
  <div id="site_watcha_use_proxy_div" class="collapse">
  {{ macros.setting_input_text('site_watcha_proxy_url', 'Proxy URL', value=arg['site_watcha_proxy_url']) }}
  </div>
  {{ macros.setting_checkbox('site_watcha_use_cache', 'Cache 사용', value=arg['site_watcha_use_cache'], desc=None) }}
  <div id="site_watcha_use_cache_div" class="collapse">
  {{ macros.setting_input_int('site_watcha_cache_expiry', 'Cache 수명', desc=['단위: 초'], value=arg['site_watcha_cache_expiry']) }}
  </div>
  {{ macros.setting_input_textarea('site_watcha_headers', 'HTTP 헤더', value=arg['site_watcha_headers'], row='6', desc=['지정하지 않으면 일반 탭의 기본 HTTP 헤더를 사용', '형식: JSON']) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('naver', false) }}
  {{ macros.setting_input_textarea('site_naver_key', '네이버 API', value=arg['site_naver_key'], row='10', desc=['여러 개의 키값을 지원합니다. 구분자 엔터', '파파고 번역 키와 중복 사용 가능', '예', 'Client_ID_1,Client_Secret_1','Client_ID_2,Client_Secret_2']) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('imgur', false) }}
  {{ macros.setting_input_text_and_buttons('site_imgur_client_id', 'Client ID', [['site_imgur_auth_btn', '사용 동의']], value=arg['site_imgur_client_id'], col=5, desc=None) }}
  {{ macros.setting_input_text('site_imgur_client_secret', 'Client Secret', col=6, value=arg['site_imgur_client_secret']) }}
  {{ macros.info_text('site_imgur_access_token', 'Access Token', arg['site_imgur_access_token']) }}
  {{ macros.info_text('site_imgur_refresh_token', 'Refresh Token', arg['site_imgur_refresh_token']) }}
  {{ macros.info_text('site_imgur_account_username', 'Username', arg['site_imgur_account_username']) }}
  {{ macros.info_text('site_imgur_account_id', 'Account ID', arg['site_imgur_account_id']) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('naver_login', false) }}
  {{ macros.setting_input_text_and_buttons('site_naver_login_client_id', 'Client ID', [['site_naver_login_btn', '로그인']], value=arg['site_naver_login_client_id'], col=5, desc=None) }}
  {{ macros.setting_input_text('site_naver_login_client_secret', 'Client Secret', col=6, value=arg['site_naver_login_client_secret']) }}
  {{ macros.info_text('site_naver_login_refresh_token', 'Refresh Token', arg['site_naver_login_refresh_token']) }}
  {{ macros.info_text('site_naver_login_refresh_token_time', 'Refresh Token 발급시간', arg['site_naver_login_refresh_token_time'], desc=['로그인시 발급되며 1년간 유효.']) }}
  {{ macros.info_text('site_naver_login_access_token', 'Access Token', arg['site_naver_login_access_token']) }}
  {{ macros.info_text('site_naver_login_access_token_time', 'Access Token 발급시간', arg['site_naver_login_access_token_time'], desc=['한시간 동안 유효하며 자동갱신']) }}
{{ macros.m_tab_content_end() }}

{{ macros.m_tab_content_start('common', false) }}
{{ macros.setting_input_textarea('site_common_headers', 'HTTP 기본 헤더', value=arg['site_common_headers'], row='6', desc=['HTTP 헤더를 지정하지 않은 사이트는 이 값을 사용', '형식: JSON']) }}
{{ macros.setting_input_textarea('site_common_loose_match_shows', '느슨한 매칭 적용 TV 쇼', value=arg['site_common_loose_match_shows'], row='6', desc=['Daum의 TV 쇼와 OTT의 TV 쇼를 매칭할 때 느슨한 조건을 적용해야 하는 TV 쇼의 Daum 코드(KD1234) 목록', '느슨한 조건: 제목 일치', '엄격한 조건: 제목 일치 그리고 첫 방영일 또는 스튜디오 일치', '구분: 공백/줄바꿈/콤마/파이프', ]) }}
{{ macros.m_tab_content_end() }}

</form>
</div>



<script type="text/javascript">

$(document).ready(function(){
  use_collapse("site_daum_use_proxy");
  use_collapse("site_wavve_use_proxy");
  use_collapse("site_tving_use_proxy");
  use_collapse("site_watcha_use_proxy");
  use_collapse("site_daum_use_cache");
  use_collapse("site_wavve_use_cache");
  use_collapse("site_tving_use_cache");
  use_collapse("site_watcha_use_cache");
});

$('#site_daum_use_proxy').change(function() {
  use_collapse('site_daum_use_proxy');
});

$('#site_wavve_use_proxy').change(function() {
  use_collapse('site_wavve_use_proxy');
});

$('#site_tving_use_proxy').change(function() {
  use_collapse('site_tving_use_proxy');
});

$('#site_watcha_use_proxy').change(function() {
  use_collapse('site_watcha_use_proxy');
});

$('#site_daum_use_cache').change(function() {
  use_collapse('site_daum_use_cache');
});

$('#site_wavve_use_cache').change(function() {
  use_collapse('site_wavve_use_cache');
});

$('#site_tving_use_cache').change(function() {
  use_collapse('site_tving_use_cache');
});

$('#site_watcha_use_cache').change(function() {
  use_collapse('site_watcha_use_cache');
});


$("body").on('click', '#site_tving_login_btn', function(e) {
  e.preventDefault();
  globalSendCommand('tving_login', $('#site_tving_id').val(), $('#site_tving_pw').val(), $('input[name="site_tving_login_type"]:checked').val(), function(ret){
    if (ret['ret'] == 'success')
      $("#site_tving_token").val(ret['token']);
  });
});

$("body").on('click', '#site_tving_deviceid_btn', function(e) {
  e.preventDefault();
  globalSendCommand('tving_deviceid', $('#site_tving_token').val(), null, null, function(ret){
  });
});

$("body").on('click', '#site_wavve_login_btn', function(e) {
  e.preventDefault();
  globalSendCommand('wavve_login', $('#site_wavve_credentials').val(), null, null, function(ret){
    if (ret['ret'] == 'success') {
      $("#site_wavve_credentials").val(ret['credentials']);
    }
  });
});

$("body").on('click', '#site_imgur_auth_btn', function(e) {
  e.preventDefault();
  var url = "https://api.imgur.com/oauth2/authorize?client_id=" + $('#site_imgur_client_id').val() + "&response_type=token&state=state";
  var win = window.open(url, "_blank", 'width=800,height=500');
});

$("body").on('click', '#site_naver_login_btn', function(e) {
  e.preventDefault();
  var callback = encodeURIComponent(window.location.protocol + "//" + window.location.host + "/support_site/site/naverlogin");
  var state = "RAMDOM_STATE";
  var client_id = $('#site_naver_login_client_id').val();
  var url = "https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=" + client_id + "&redirect_uri=" + callback + "&state=" + state;
  console.log(url);
  var win = window.open(url, "_blank", 'width=800,height=500');

});
</script>
{% endblock %}