<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>    
<script src="{{ url_for('static', filename='js/ff_common1.js') }}"></script>
<script src="{{ url_for('static', filename='js/ff_ui1.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.ui.position.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notifyjs-browser@0.4.2/dist/notify.js"></script>
<script src="{{ url_for('static', filename='js/sjva_global1.js') }}"></script>
<script src="{{ url_for('static', filename='js/ff_global1.js') }}"></script>
<script src="{{ url_for('static', filename='js/ff_global_plugin.js') }}"></script>

<script type="text/javascript">
const params = new URLSearchParams(window.location.search);
const code = params.get("code");
const state = params.get("state");

$(document).ready(function () {
  globalSendCommand('naverlogin_callback_process', code, state, null, function(data){
    if (data.ret == 'success') {
      if (window.opener) {
        window.opener.location.reload();
      }
      // 자식창 닫기
      window.close();
    }
  });
});
</script>
