{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

<nav>
  {{ macros.m_tab_head_start() }}
    {{ macros.m_tab_head('wavve', '웨이브', true) }}
  {{ macros.m_tab_head_end() }}
</nav>

<form id='setting' name='setting'>
<div class="tab-content" id="nav-tabContent">
  
{{ macros.m_tab_content_start('wavve', true) }}
  {{ macros.setting_input_textarea('site_wavve_credential', 'Credential', value=arg['site_wavve_credential'], row='3') }}
  {{ macros.setting_checkbox('site_wavve_use_proxy', 'Proxy 사용', value=arg['site_wavve_use_proxy'], desc=None) }}
  <div id="site_wavve_use_proxy_div" class="collapse">
    {{ macros.setting_input_text('site_wavve_proxy_url', 'Proxy URL', value=arg['site_wavve_proxy_url'], desc=None) }}
  </div>
{{ macros.m_tab_content_end() }} 

</form>
</div>



<script type="text/javascript">

$(document).ready(function(){
  use_collapse("site_wavve_use_proxy");
});

$('#site_wavve_use_proxy').change(function() {
  use_collapse('site_wavve_use_proxy');
});


</script>    
{% endblock %}